USER ADVENTURES

<table>
  <% @adventures.each do |a|%>
    <tr>
      <td>
      	<%= a.name %>
      </td>
      <td>
      	<%= a.description %>
      </td>
      <td>
      	<%= a.bobalocation_id %>
      </td>  	
    </tr>
  <% end %>
</table>