<div class='col-xs-12 text-center'>

<h2>New Adventure!</h2>

<%= render :partial => 'form' %>

<!-- connect with YELP API here: yelp_id, location-city, state, neighborhood, -->

<%= @result%>

</div>
<br />