<div class='row'>
<h1>my boba! </h1>

<%= button_to 'need boba fix!', {controller: :my_boba, url: search_path}, method: :get, class: 'btn'  %>

</div>

<div>
<%= button_to 'bobadventures!', {controller: :my_boba, url: search_path}, method: :get, class: 'btn'  %>
</div>