<h3> SEARCH PAGE </h3>



<div>
     <form action="/my_boba/results" method="POST" class="form" role="form">
        <div class="form-group">
          <input id="location" name="location" type="text" class="form-control" placeholder="&nbsp;Search here, Press enter"/>
        </div>
      </form>

</div>