<div class='col-xs-12'>

<div class='row text-center col-xs-12'>
<h1 class="megrim"> <%= @result['name'] %> </h1>
</div>

<div class='row center-block'>
<table class='col-xs-12'>
	<tr>
	<td class='col-xs-2' >
	<div class='circle btn-customPR center-block'><br /><br />
	</div>
    </td>
    <td class='col-xs-2'>
	<div class='circle btn-customYW center-block'><br /><br />
	</div>
    </td>
    <td class='col-xs-2'>
	<div class='circle btn-customGR center-block'><br /><br />
	</div>
    </td>
    <td class='col-xs-2'>
	<div class='circle btn-customYW center-block'><br /><br />
	</div>
    </td>

    </tr>
</table>
</div>

<div class='row col-xs-12 center-block'>


</div>


</div>
<%= @result %>